.checkbox{
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 25px;
    bottom: 10px;
    right: 10px;
    z-index: 5;
    opacity: 0;
    &+label{
        display: flex;
        gap: 8px;
        align-items: center;
        user-select: none;
      }
        &+label:before{
          content: '';
          display: inline-block;
          width: 25px;
          height: 25px;
          flex-shrink: 0;
          flex-grow: 0;
          border-radius: 10%;
          border: 1px solid #7C7C7D;
          background-repeat: no-repeat;
          background-position: center center;
        }
        &:checked+label::before{
          border-color: $color-active;
          background-color: $color-active;
          background-image: url('../../icons/check.svg');
        }
}
.checked{
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 4;
}