.setting-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    &__item{
      .mdi{
        font-size: 32px;
      }
      cursor: pointer;
      border: none;
      outline: none;
      background: transparent;
      display: flex;
      align-items: center;
      gap:10px;
      @include aside-item;
    }
}