.smart-meter {
	&__header {
		display: flex;
		align-items: center;
		padding: 0px;
		gap: 16px;
		margin-bottom: 40px;
	}

	&__title {
		@include aside-header;
		line-height: 1.3;
		color: #FFFFFF;
	}

	&__divider {
		width: 0px;
		align-self: stretch;
		border: 1px solid rgba(255, 255, 255, 0.4);
	}

	&__body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding: 36px 20px;
		gap: 24px;
		background: $bg-smart-meter; 
		backdrop-filter: blur(4px);
		border-radius: 12px;
	}

	&__electricity,
	&__water {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0px;
		gap: 16px;
	}

	&__electricity-header,
	&__header-water {
		display: flex;
		align-items: center;
		padding: 0px;
		gap: 4px;
	}

	&__electricity-meter,
	&__water-meters {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0px;
		gap: 12px;
	}

	&__electricity-sum {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding: 0px;
		gap: 2px;
	}

	&__electricity-tariffs {
		display: flex;
		align-items: flex-start;
		padding: 0px;
		gap: 12px;
	}

	&__electricity-tariff {
		min-width: 50px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0px;
		gap: 2px;
	}

	&__water-meter {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0px;
		gap: 8px;
		flex: 1 1 0px;
		width: 0px;
	}
	
	&__title-meter,
	&__date,
	&__info,
	&__help-info,
	&__help-info-electricity {
		@include header-submenu-item;
		line-height: 1.3;
	}

	sup {
		font-weight: 700;
		line-height: 1.3;
	}

	&__date {
		color: #FFFFFF;
	}

	&__help-info,
	&__help-info-electricity {
		color: $color-test;
	}

	&__help-info-electricity {
		opacity: 0.6;
	}
}
