
$color-bg:var(--color-bg);
$color-test:var(--color-test);
$color-bg-hover: var(--color-bg-hover);
$color-icon-hover: var(--color-icon-hover);
$color-bg-switch-active: var(--color-bg-switch-active);
$color-service-border: var(--color-service-border);
$color-bg-switch: var(--color-bg-switch);
$color-bg-secondary: var(--color-bg-secondary);
$color-bg-secondary-hover: var(--color-bg-secondary-hover);
$color-border: var(--color-border);
$color-primary: var(--color-primary);
$color-translucent: var(--color-translucent);
$color-subheader-automation: var(--color-subheader-automation);
$color-accent: var(--color-accent);
$color-active: var(--color-active);
$color-profile-name: var(--color-profile-name);
$color-profile-mail: var(--color-profile-mail);
$color-active-hover: var(--color-active-hover);
$bg-primary: var(--bg-primary);
$bg-service-primary: var(--bg-service-primary);
$bg-service-active: var(--bg-service-active);
$bg-accent: var(--bg-accent);
$opacity: var(--opacity);
$bg-service-primary-active: var(--bg-service-primary-active);
$main-bg-gradient-end:var(--main-bg-gradient-end);
$main-bg-gradient-start:var(--main-bg-gradient-start);
$avatar-bg-gradient-start:var(--avatar-bg-gradient-start);
$avatar-bg-gradient-end:var(--avatar-bg-gradient-end);
$divider-border-color: var(--divider-border-color);
$service-shadow-color:var(--service-shadow-color);
$aside-header:var(--aside-header);
$thumb-color:var(--thumb-color);
$color-inactive:var(--color-inactive);
$settings-color:var(--settings-color);
$device-action:var(--device-action);
$bg-smart-meter:var(--bg-smart-meter);
