.group{
	&-header{
		@include section-header;
		color: #fff;
	}
	@media screen and (max-width: 1200px) {
		padding-bottom: 80px;
	}
	&-edit{
		width: 50%;
		display: flex;
		justify-content: flex-start;
		gap: 12px;
		.ui-button{
			background-color: rgba(255,255,255,0.2) !important;
			width: 200px;
			&:hover{
				background-color: $color-active !important;
			}
		}
	}
}
