.profile{
  margin-inline: auto;
  padding: 0 4px;
  height: auto;
  @media screen and (max-width:1200px) {
    padding-bottom: 70px;
  }
  &__leave-from-house-button{
    margin-top: 40px;
  }
  &-head{
    @include section-header;
    padding-bottom: 20px;
  }
  &__settings {
    display: none;
    @media screen and (max-width: 1200px) {
      display: flex;
    }
  }
}
.profile__sync-device{
  margin-top: 52px;
}
.invited-house-section{
  margin-top: 48px;
  @media screen and (max-width: 1200px) {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid $color-border;
  }
  &__header{
    border-top: 1px solid $color-border;
    padding-top: 40px;
    @include aside-header;
  }
  &__container{
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    gap:12px;
  }
}
.profile-roommates-section{
  overflow-x: auto;
  padding-bottom: 2px;
  &__header{
    display: flex;
    gap: 20px;
    align-items: center;
    @include aside-header;
    margin-top: 20px;
    color: #fff;
    @media screen and (max-width:360px) {
      font-size: 24px;
    }
  }
  &__add-section{
    cursor: pointer;
    margin: 0;
  }
  &__list {
    margin-top: 20px;
    overflow-x: auto;
    padding-bottom: 10px;
    display: flex;
    gap: 12px;
  }
}
